<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" id="avatar_progress_bar" role="progressbar" style="width:0%">
    <span class="sr-only" id="avatar_progress_text"></span>
  </div>
</div>
